.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.section-hero {
  width: 100%;
  height: 100vh;
}

.hero-col-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding: 0em 2em 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-col-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-img-placeholder {
  position: relative;
  z-index: -2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90%;
  margin-left: 0em;
  background-image: url('../images/heropage_Gabbynoback.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.body {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0em 2em 2em;
  font-family: 'Cera pro', sans-serif;
}

.hero-h1 {
  position: relative;
  z-index: 9;
}

.section-about-me {
  overflow: hidden;
  height: 40vh;
}

.hero-aboutme-columns {
  width: auto;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.aboutme-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0% 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.aboutme-col.aboutme-col-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0%;
  padding-bottom: 0%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column-2 {
  height: 100vh;
}

.column-3 {
  height: 100vh;
}

.aboutme-container {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 0px;
  padding-right: 1.5em;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.aboutme-container.aboutme-container-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0em;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.aboutme-container.aboutme-container-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 0em;
}

.aboutme_image-containter {
  width: 90%;
  height: 550px;
  background-color: #bdbbbb;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.aboutme_image-containter.am-image-1 {
  background-image: url('../images/aboutme1.jpeg');
  background-position: 50% 0%;
  background-size: cover;
}

.aboutme_image-containter.am-image-2 {
  background-image: url('../images/aboutme-3.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.header-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 20px;
}

.para {
  width: 100%;
  max-width: 90%;
  font-size: 16px;
  font-style: normal;
}

.para.rightcol {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 90%;
  margin-left: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.section-graphic-design {
  margin-bottom: 5%;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.graphic-design-col {
  min-height: 80vh;
  padding-right: 20px;
  padding-left: 0px;
}

.graphic-design-img-block {
  width: 100%;
  min-height: 250px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.div-block {
  height: 350px;
  background-color: #4e4e4e;
}

.div-block-2 {
  height: 300px;
  background-color: #afafaf;
}

.div-block-3 {
  height: 400px;
  background-color: #d8d8d8;
}

.div-block-4 {
  height: 450px;
  background-color: #b1b1b1;
}

.div-block-5 {
  height: 250px;
  background-color: #313131;
}

.div-block-6 {
  height: 500px;
  background-color: #aaa;
}

.div-block-7 {
  height: 300px;
  background-color: #eee;
}

.header-3-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.img-column-collection {
  margin-bottom: 5%;
}

.section-design-research-work {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.grid-2 {
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.design-research-img-container {
  min-height: 250px;
}

.design-research-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-bottom: 20px;
  padding: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 7px;
  background-color: #eee;
}

.div-block-8 {
  height: 250px;
  background-color: #474747;
}

.section-clients {
  margin-top: 5%;
  margin-bottom: 5%;
}

.grid-container {
  height: 140vh;
}

.grid-3 {
  height: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px auto;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
}

.image {
  height: 100%;
}

.image-2 {
  height: 100%;
}

.image-3 {
  max-height: 100%;
}

.image-4 {
  max-height: 100%;
}

.image-5 {
  max-height: 100%;
}

.image-6 {
  max-height: 100%;
}

.image-7 {
  max-height: 100%;
  margin-left: -15px;
  padding-left: 0px;
}

.image-8 {
  height: 100%;
}

.image-9 {
  height: 100%;
}

.container-holder {
  display: block;
  height: 100%;
  max-width: 80vw;
}

.container-holder.touch-about-me-container {
  display: none;
}

.image-10 {
  max-height: 100%;
}

.image-11 {
  max-height: 100%;
}

.image-12 {
  max-height: 100%;
}

.grid-img-container {
  height: 100%;
}

.image-13 {
  max-height: 100%;
}

.image-14 {
  max-height: 100%;
}

.image-15 {
  max-height: 100%;
}

.image-16 {
  width: 100%;
  max-height: 100%;
}

.image-17 {
  max-height: 100%;
}

.touch-graphic-design-img-container {
  display: none;
}

.lightboxlink {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-image: url('../images/IdeopsisgauraButterfly.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.lightbox-link {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-image: url('../images/FunFact_Museum_Inforgraphic_Poster_Fireflys.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.lightbox-link-2 {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-image: url('../images/Infographic_DoctorsOffice_InnerCochlea.jpg');
  background-position: 0% 60%;
  background-size: cover;
  background-repeat: no-repeat;
}

.lightbox-link-3 {
  width: 100%;
  height: 100%;
  background-image: url('../images/VT_IndustrialTacoParty.gif');
  background-position: 100% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.lightbox-link-4 {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-image: url('../images/Info_GIF_QuickFact.gif');
  background-position: 0% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.lightbox-link-5 {
  width: 100%;
  height: 100%;
  background-image: url('../images/CustomBrush_Illustrative_Cell_Membrane.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-9 {
  padding: 7px;
  border-radius: 6px;
  background-color: #f3f3f3;
}

.grid-4 {
  width: 60%;
  height: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.client-grid-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 45vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.client-div {
  max-height: 100%;
}

.client-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.client-div {
  opacity: 0.51;
}

.client-div:hover {
  opacity: 1;
}

.image-18 {
  max-height: 100%;
}

.header-4 {
  font-size: 16px;
}

.image-19 {
  position: absolute;
}

.div-block-10 {
  position: relative;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-20 {
  position: absolute;
  bottom: -35.5em;
  width: 100vw;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.column-4 {
  height: 100%;
}

.image-21 {
  width: 100%;
  border-radius: 20px;
}

.columns {
  height: 100%;
}

.image-22 {
  margin-top: -20px;
  padding-top: 0px;
}

.column-5 {
  height: 100%;
}

.image-23 {
  margin-top: 16px;
  border-radius: 20px;
}

.touch-about-me {
  display: none;
}

.touch-section-design-research {
  display: none;
}

.touch-slider {
  display: none;
}

.div-block-11 {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(65%, transparent), color-stop(94%, #fff));
  background-image: linear-gradient(180deg, transparent 65%, #fff 94%);
}

.container {
  margin-top: 0px;
  margin-bottom: 85px;
  border-top: 4px solid #000;
}

@media screen and (max-width: 991px) {
  .section-hero {
    height: 90vh;
  }

  .section-about-me {
    width: 100%;
  }

  .image-20 {
    right: -22px;
    bottom: -16.5em;
  }
}

@media screen and (max-width: 479px) {
  .section-hero {
    height: 70vh;
  }

  .hero-columns {
    height: 100%;
  }

  .hero-col-left {
    display: none;
    height: 50vh;
    padding-right: 0em;
    padding-bottom: 0em;
  }

  .hero-col-right {
    z-index: 9;
    height: 100%;
  }

  .hero-img-placeholder {
    height: 40%;
    margin-left: 0em;
  }

  .section-about-me {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-aboutme-columns {
    display: none;
    height: 25vh;
  }

  .aboutme-col {
    height: 3px;
    margin-bottom: 0px;
    padding-top: 0%;
    padding-bottom: 0%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .aboutme-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .aboutme-container.aboutme-container-right {
    position: static;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .aboutme-container.aboutme-container-center {
    padding-right: 0em;
  }

  .aboutme_image-containter {
    width: 100%;
    height: 375px;
  }

  .para {
    width: 100%;
    max-width: 100%;
    font-size: 14px;
  }

  .section-graphic-design {
    overflow: visible;
  }

  .section-design-research-work {
    display: none;
  }

  .grid-2 {
    grid-auto-flow: column;
  }

  .grid-container {
    display: none;
    height: auto;
    max-height: 100%;
  }

  .grid-3 {
    display: block;
    justify-items: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 0.25fr;
    grid-template-areas: "Area Area Area Area Area Area";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .container-holder {
    margin-bottom: 15px;
  }

  .touch-graphic-design-img-container {
    display: block;
    overflow: visible;
    width: 100%;
  }

  .graphic-design-img {
    width: 100%;
    margin-bottom: 15px;
  }

  .grid-4 {
    width: 100%;
    grid-column-gap: 10px;
  }

  .image-20 {
    left: 0%;
    top: 25%;
    right: 0%;
    bottom: auto;
  }

  .touch-section-design-research {
    display: block;
  }

  .image-24 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 4px;
    background-color: #f5f5f5;
  }

  .slide-nav {
    display: none;
  }

  .touch-slider {
    display: block;
    height: 645px;
    background-color: hsla(0, 0%, 86.7%, 0);
  }

  .image-25 {
    border-radius: 19px;
  }
}

#w-node-_292697e9-8083-2722-1d09-bbdfa485680b-d4d1a062 {
  -ms-grid-column: span 5;
  grid-column-start: span 5;
  -ms-grid-column-span: 5;
  grid-column-end: span 5;
  -ms-grid-row: span 5;
  grid-row-start: span 5;
  -ms-grid-row-span: 5;
  grid-row-end: span 5;
}

#w-node-_292697e9-8083-2722-1d09-bbdfa485680d-d4d1a062 {
  -ms-grid-row: span 5;
  grid-row-start: span 5;
  -ms-grid-row-span: 5;
  grid-row-end: span 5;
  -ms-grid-column: span 5;
  grid-column-start: span 5;
  -ms-grid-column-span: 5;
  grid-column-end: span 5;
}

#w-node-_292697e9-8083-2722-1d09-bbdfa485680f-d4d1a062 {
  -ms-grid-row: span 5;
  grid-row-start: span 5;
  -ms-grid-row-span: 5;
  grid-row-end: span 5;
  -ms-grid-column: span 6;
  grid-column-start: span 6;
  -ms-grid-column-span: 6;
  grid-column-end: span 6;
}

#w-node-_292697e9-8083-2722-1d09-bbdfa4856811-d4d1a062 {
  -ms-grid-row: span 5;
  grid-row-start: span 5;
  -ms-grid-row-span: 5;
  grid-row-end: span 5;
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
}

#w-node-_292697e9-8083-2722-1d09-bbdfa4856813-d4d1a062 {
  -ms-grid-row: span 5;
  grid-row-start: span 5;
  -ms-grid-row-span: 5;
  grid-row-end: span 5;
  -ms-grid-column: span 6;
  grid-column-start: span 6;
  -ms-grid-column-span: 6;
  grid-column-end: span 6;
}

#w-node-_292697e9-8083-2722-1d09-bbdfa4856815-d4d1a062 {
  -ms-grid-row: span 5;
  grid-row-start: span 5;
  -ms-grid-row-span: 5;
  grid-row-end: span 5;
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
}

#w-node-d059a1f2-283f-aaa7-28d4-2363e0c71304-d4d1a062 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_5532d0de-1bee-3523-1ce3-199ef6620ee3-d4d1a062 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 479px) {
  #w-node-_292697e9-8083-2722-1d09-bbdfa485680b-d4d1a062 {
    -ms-grid-column: span 6;
    grid-column-start: span 6;
    -ms-grid-column-span: 6;
    grid-column-end: span 6;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_292697e9-8083-2722-1d09-bbdfa485680d-d4d1a062 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 6;
    grid-column-start: span 6;
    -ms-grid-column-span: 6;
    grid-column-end: span 6;
  }

  #w-node-_292697e9-8083-2722-1d09-bbdfa485680f-d4d1a062 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 6;
    grid-column-start: span 6;
    -ms-grid-column-span: 6;
    grid-column-end: span 6;
  }

  #w-node-_292697e9-8083-2722-1d09-bbdfa4856811-d4d1a062 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 6;
    grid-column-start: span 6;
    -ms-grid-column-span: 6;
    grid-column-end: span 6;
  }

  #w-node-_292697e9-8083-2722-1d09-bbdfa4856813-d4d1a062 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 6;
    grid-column-start: span 6;
    -ms-grid-column-span: 6;
    grid-column-end: span 6;
  }

  #w-node-_292697e9-8083-2722-1d09-bbdfa4856815-d4d1a062 {
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 6;
    grid-column-start: span 6;
    -ms-grid-column-span: 6;
    grid-column-end: span 6;
  }
}

@font-face {
  font-family: 'Cera pro';
  src: url('../fonts/Cera-Pro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cera pro';
  src: url('../fonts/Cera-Pro-Black-Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cera pro';
  src: url('../fonts/Cera-Pro-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cera pro';
  src: url('../fonts/Cera-Pro-Light-Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cera pro';
  src: url('../fonts/Cera-Pro-Medium-Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cera pro';
  src: url('../fonts/Cera-Pro-Bold-Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cera pro';
  src: url('../fonts/Cera-Pro-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cera pro';
  src: url('../fonts/Cera-Pro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cera pro';
  src: url('../fonts/Cera-Pro-Thin-Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cera pro';
  src: url('../fonts/Cera-Pro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cera pro';
  src: url('../fonts/Cera-Pro-Regular-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Cera pro';
  src: url('../fonts/Cera-Pro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}